.light {
    --FzoXNQ: #f0f1f5
}

.dark {
    --FzoXNQ: #252627
}

.theme {
    color-scheme: var(--4h-m_A)
}

.light {
    --4h-m_A: light;
    --Zpa-KA: #00c4cc;
    --eGVbng: #8b3dff;
    --M5_pvA: #7731d8;
    --boKKWg: #612dae;
    --oqurdw: rgba(64, 87, 109, .07);
    --d1p99w: #fff;
    --17LfHw: rgba(36, 49, 61, .4);
    --EgWgfg: rgba(13, 18, 22, 0);
    --X3--Zg: rgba(64, 87, 109, .07);
    --xfy86Q: rgba(57, 76, 96, .15);
    --p53f_Q: rgba(13, 18, 22, 0);
    --REcY5g: #0d1216;
    --XajtPQ: rgba(36, 49, 61, .4);
    --FVk7Ew: rgba(165, 112, 255, .15);
    --2-zmYA: rgba(165, 112, 255, .15);
    --ySYdsQ: rgba(165, 112, 255, .2);
    --aMXh3A: rgba(64, 87, 109, .07);
    --_RN1Dg: #612dae;
    --8fGzbw: rgba(36, 49, 61, .4);
    --ob8tTA: rgba(13, 18, 22, 0);
    --MghLXQ: rgba(64, 87, 109, .07);
    --3R4u8w: rgba(57, 76, 96, .15);
    --TwiLcg: rgba(13, 18, 22, 0);
    --QeQ0Dw: #0d1216;
    --TZOI7A: rgba(36, 49, 61, .4);
    --SZMkXA: rgba(165, 112, 255, .15);
    --1zesEA: rgba(165, 112, 255, .15);
    --AMxRgw: rgba(165, 112, 255, .2);
    --BZ60Jw: rgba(64, 87, 109, .07);
    --8Ex5gA: #612dae;
    --spIP2A: rgba(36, 49, 61, .4);
    --KtXlRg: rgba(17, 23, 29, .6);
    --QADODw: rgba(13, 18, 22, .7);
    --kTBxcw: rgba(13, 18, 22, .86);
    --HxK_kw: rgba(17, 23, 29, .6);
    --6u-yJQ: #fff;
    --J0YKvA: hsla(0, 0%, 100%, .7);
    --yrvb-A: rgba(57, 76, 96, .15);
    --nwNs8w: rgba(43, 59, 74, .3);
    ---tf09g: rgba(57, 76, 96, .15);
    --x0GzuQ: rgba(57, 76, 96, .15);
    --VfoYEg: #fff;
    --nbAwww: hsla(0, 0%, 100%, .5);
    --Shm3YQ: rgba(64, 87, 109, .07);
    --z7Xq7A: rgba(57, 76, 96, .15);
    --m9sa8w: rgba(53, 71, 90, .2);
    --aj4L_w: rgba(64, 87, 109, .07);
    --pj2xMA: #0d1216;
    --3YOFOw: rgba(36, 49, 61, .4);
    --c23L8g: #8b3dff;
    --scq9vQ: #e7dbff;
    --feCw5g: #fff;
    --FMoRFg: #0d1216;
    --7psRVw: #008009;
    --QVtuYg: #36a137;
    --71VQUQ: #096d11;
    --Lf8mkA: rgba(64, 87, 109, .07);
    --Ii7YFw: #c3eac4;
    --W6KtsA: #fff;
    --WCLNrQ: #0d1216;
    --Unijpw: rgba(36, 49, 61, .4);
    --DXueYw: #1a62ff;
    --3KQj6A: #3d8bff;
    --Czi__Q: #1855d8;
    ---vsWXQ: rgba(64, 87, 109, .07);
    --pYULlw: #cce1ff;
    --MjnIDA: #fff;
    --v7HVIg: #0d1216;
    --vD3B3g: rgba(36, 49, 61, .4);
    --23ZOVQ: #ad5a00;
    --VbVKHg: #d17600;
    --zvQOHA: #944f05;
    --21KaLA: rgba(64, 87, 109, .07);
    --ydZUSA: #ffd9ad;
    --5uESMg: #fff;
    --OQ2gpA: #0d1216;
    --87SmIg: rgba(36, 49, 61, .4);
    --jTT_jQ: #db142c;
    --2hPbag: #fd4958;
    --nRrzRQ: #b61629;
    ---Xfh1Q: rgba(64, 87, 109, .07);
    --1MO0IQ: #ffd6d8;
    --eLjurg: #fff;
    --fs4QpA: #0d1216;
    ---Evg2A: rgba(36, 49, 61, .4);
    --Tp54Vw: #f0f1f5;
    --pf_JRQ: rgba(240, 241, 245, .7);
    --ys5XGg: rgba(240, 241, 245, 0);
    --dVucJw: #f6f7f8;
    --u6VULg: rgba(246, 247, 248, .7);
    --cm5OeQ: rgba(246, 247, 248, 0);
    --C-q6Ig: #fff;
    --Pj6GZQ: hsla(0, 0%, 100%, .7);
    --r6MHXQ: hsla(0, 0%, 100%, 0);
    --4RaSjg: #fff;
    --F6F2NQ: hsla(0, 0%, 100%, .7);
    --389KIw: hsla(0, 0%, 100%, 0);
    --VNXpSw: #0d1216;
    --5F8MFw: rgba(13, 18, 22, .86);
    --JEAqPw: rgba(13, 18, 22, .7);
    --3V_biw: rgba(17, 23, 29, .6);
    --P69qRQ: #008009;
    --fg0S1Q: #1a62ff;
    --MRX9rw: #ad5a00;
    --bk41Zw: #db142c;
    --kTTJvw: #b61629;
    --llP47A: #db142c;
    ---8UyGw: #8b3dff;
    ---1ShxA: #7731d8;
    --FFgy5g: #8b3dff;
    --Zya5eQ: rgba(53, 71, 90, .2);
    --9_Lxmw: rgba(28, 39, 48, .5);
    --xAYPzA: #8b3dff;
    --VjFOWQ: rgba(57, 76, 96, .15);
    --nOtbOg: #db142c;
    --OuCkCQ: rgba(57, 76, 96, .15);
    ---UopgA: rgba(28, 39, 48, .5);
    --620Maw: var(--Zya5eQ);
    --TBPmDQ: var(--xAYPzA);
    --UzSy6g: var(--VjFOWQ);
    --olfr3Q: rgba(28, 39, 48, .5)
}

.dark {
    --4h-m_A: dark;
    --Zpa-KA: #00c4cc;
    --eGVbng: #8b3dff;
    --M5_pvA: #7731d8;
    --boKKWg: #612dae;
    --oqurdw: hsla(0, 0%, 100%, .07);
    --d1p99w: #fff;
    --17LfHw: hsla(0, 0%, 100%, .4);
    --EgWgfg: hsla(0, 0%, 100%, 0);
    --X3--Zg: hsla(0, 0%, 100%, .07);
    --xfy86Q: hsla(0, 0%, 100%, .15);
    --p53f_Q: hsla(0, 0%, 100%, 0);
    --REcY5g: #fff;
    --XajtPQ: hsla(0, 0%, 100%, .4);
    --FVk7Ew: rgba(165, 112, 255, .3);
    --2-zmYA: rgba(165, 112, 255, .3);
    --ySYdsQ: rgba(165, 112, 255, .2);
    --aMXh3A: hsla(0, 0%, 100%, .15);
    --_RN1Dg: #fff;
    --8fGzbw: hsla(0, 0%, 100%, .4);
    --ob8tTA: hsla(0, 0%, 100%, 0);
    --MghLXQ: hsla(0, 0%, 100%, .07);
    --3R4u8w: hsla(0, 0%, 100%, .15);
    --TwiLcg: hsla(0, 0%, 100%, 0);
    --QeQ0Dw: #fff;
    --TZOI7A: hsla(0, 0%, 100%, .4);
    --SZMkXA: rgba(165, 112, 255, .3);
    --1zesEA: rgba(165, 112, 255, .3);
    --AMxRgw: rgba(165, 112, 255, .2);
    --BZ60Jw: hsla(0, 0%, 100%, .15);
    --8Ex5gA: #fff;
    --spIP2A: hsla(0, 0%, 100%, .4);
    --KtXlRg: rgba(17, 23, 29, .6);
    --QADODw: rgba(13, 18, 22, .7);
    --kTBxcw: rgba(13, 18, 22, .86);
    --HxK_kw: rgba(17, 23, 29, .6);
    --6u-yJQ: #fff;
    --J0YKvA: hsla(0, 0%, 100%, .4);
    --yrvb-A: hsla(0, 0%, 100%, .15);
    --nwNs8w: hsla(0, 0%, 100%, .3);
    ---tf09g: hsla(0, 0%, 100%, .15);
    --x0GzuQ: hsla(0, 0%, 100%, .15);
    --VfoYEg: #fff;
    --nbAwww: hsla(0, 0%, 100%, .4);
    --Shm3YQ: hsla(0, 0%, 100%, .07);
    --z7Xq7A: hsla(0, 0%, 100%, .15);
    --m9sa8w: hsla(0, 0%, 100%, .2);
    --aj4L_w: hsla(0, 0%, 100%, .07);
    --pj2xMA: #fff;
    --3YOFOw: hsla(0, 0%, 100%, .4);
    --c23L8g: #8b3dff;
    --scq9vQ: #4a2e7f;
    --feCw5g: #fff;
    --FMoRFg: #fff;
    --7psRVw: #008009;
    --QVtuYg: #36a137;
    --71VQUQ: #096d11;
    --Lf8mkA: hsla(0, 0%, 100%, .07);
    --Ii7YFw: #16461a;
    --W6KtsA: #fff;
    --WCLNrQ: #fff;
    --Unijpw: hsla(0, 0%, 100%, .4);
    --DXueYw: #1a62ff;
    --3KQj6A: #3d8bff;
    --Czi__Q: #1855d8;
    ---vsWXQ: hsla(0, 0%, 100%, .07);
    --pYULlw: #1d3b7c;
    --MjnIDA: #fff;
    --v7HVIg: #fff;
    --vD3B3g: hsla(0, 0%, 100%, .4);
    --23ZOVQ: #ad5a00;
    --VbVKHg: #d17600;
    --zvQOHA: #944f05;
    --21KaLA: hsla(0, 0%, 100%, .07);
    --ydZUSA: #563715;
    --5uESMg: #fff;
    --OQ2gpA: #fff;
    --87SmIg: hsla(0, 0%, 100%, .4);
    --jTT_jQ: #db142c;
    --2hPbag: #fd4958;
    --nRrzRQ: #b61629;
    ---Xfh1Q: hsla(0, 0%, 100%, .07);
    --1MO0IQ: #721d27;
    --eLjurg: #fff;
    --fs4QpA: #fff;
    ---Evg2A: hsla(0, 0%, 100%, .4);
    --Tp54Vw: #0d1216;
    --pf_JRQ: rgba(13, 18, 22, .7);
    --ys5XGg: rgba(13, 18, 22, 0);
    --dVucJw: #18191b;
    --u6VULg: rgba(24, 25, 27, .7);
    --cm5OeQ: rgba(24, 25, 27, 0);
    --C-q6Ig: #18191b;
    --Pj6GZQ: rgba(24, 25, 27, .7);
    --r6MHXQ: rgba(24, 25, 27, 0);
    --4RaSjg: #252627;
    --F6F2NQ: rgba(37, 38, 39, .7);
    --389KIw: rgba(37, 38, 39, 0);
    --VNXpSw: hsla(0, 0%, 100%, .9);
    --5F8MFw: hsla(0, 0%, 100%, .8);
    --JEAqPw: hsla(0, 0%, 100%, .7);
    --3V_biw: hsla(0, 0%, 100%, .5);
    --P69qRQ: #61bd62;
    --fg0S1Q: #6ba9ff;
    --MRX9rw: #ec9909;
    --bk41Zw: #fd4958;
    --kTTJvw: #ff8088;
    --llP47A: #fd4958;
    ---8UyGw: #a570ff;
    ---1ShxA: #bc97fc;
    --FFgy5g: #a570ff;
    --Zya5eQ: hsla(0, 0%, 100%, .2);
    --9_Lxmw: hsla(0, 0%, 100%, .5);
    --xAYPzA: #a570ff;
    --VjFOWQ: hsla(0, 0%, 100%, .15);
    --nOtbOg: #fd4958;
    --OuCkCQ: hsla(0, 0%, 100%, .15);
    ---UopgA: hsla(0, 0%, 100%, .4);
    --620Maw: var(--Zya5eQ);
    --TBPmDQ: var(--xAYPzA);
    --UzSy6g: var(--VjFOWQ);
    --olfr3Q: rgba(28, 39, 48, .5)
}

.light {
    --xpFk1A: #f6f7f8
}

.dark {
    --xpFk1A: hsla(0, 0%, 100%, .15)
}

.light {
    --Kd3K9A: #8b3dff;
    --DVEAGQ: #7630d7;
    --V0s6Og: #612dae;
    --PqRKXQ: #fff;
    --R-jrhg: #0e131800;
    --GXtk9g: #40576d12;
    --xGXQgA: #394c6026;
    --oAdupw: #0e1318;
    --8-4niA: #35475a33;
    --wd-tZA: #0e131800;
    --ntzWpQ: #40576d12;
    --BorQ6g: #394c6026;
    --O8dBuQ: #0e1318;
    --EvA8JQ: #11171d99;
    --gIrJLw: #0e1318b2;
    --XxI4hg: #0d1216db;
    --SvgSpA: #11171d99;
    --N8Oz5g: #fff;
    --4zRigw: #ffffffb2;
    --wv7owA: #db142c;
    --m9I-bA: #b61629;
    --Hxdoag: #911826;
    --pxBf3A: #fff;
    --1sn2Sg: #a370fc26;
    --4HnQxA: #a370fc26;
    --NRjSsw: #a370fc33;
    --GviWcg: #4a2e7e;
    --kl47TA: #8b3dff;
    --gFgXSg: #40576d12;
    --wBWOJg: #1c273080;
    --BVrlVA: #394c6026;
    --KwfPsg: #0e131800;
    --p5yS_g: #1c273080;
    --jz0LSw: #008009;
    --CJur3Q: #fff;
    --UfNqTg: #c3eac4;
    --QcueGQ: #133416;
    --bdtRFA: #1a62ff;
    --YrdGEw: #fff;
    --_bpjsw: #cce1ff;
    --x3uTOw: #182c59;
    --Am6Phw: #ad5a00;
    --X8oIbA: #fff;
    --G_qVww: #ffd9ad;
    --HfWZ1A: #3e2a14;
    --43wRQw: #db142c;
    --9luNoA: #fff;
    --qKGzFw: #ffd6d8;
    --CMMUiA: #501b21;
    --RzZG4Q: #8b3dff;
    --M8YsdQ: #fff;
    --xc412Q: #e7dbff;
    --XZIM8Q: #352459;
    --6Hmmng: #11171d99;
    --SxhHZg: #fff;
    --3ifkTA: #fff;
    --W1_3nw: #40576d12;
    --igdHlg: #35475a33;
    --IzK8tQ: #1c273080;
    --_kLulA: #1c273080;
    --uHakiw: #8b3dff;
    --TCEPKw: #394c6026;
    --BhjlKg: #db142c;
    --j6I-wg: #8b3dff;
    --I7Yc2g: #7630d7;
    --Mm01yw: #612dae;
    --4sJsqA: #394c6026;
    --hBXVcA: #fff;
    --xcCO9w: #1c273080;
    --WcghmA: #8b3dff;
    --ezSU3w: #fff;
    --ooFCBA: #c1c5cd;
    --8jnd6g: #8b3dff;
    ---2QwGw: #7630d7;
    --KgLrHA: #612dae;
    --jDAtXQ: #1c273080;
    --FOH6ww: #db142c;
    --jyDisg: #b61629;
    --QclmLg: #911826;
    --VcZbvQ: #0e1318;
    --UpESEg: #0d1216db;
    --PRQgyw: #0e1318b2;
    --TJtBjA: #11171d99;
    --vCqPYw: #008009;
    --NRkSiw: #db142c;
    --gdRMVA: #1a62ff;
    --cVPmKw: #ad5a00;
    --enMi_w: #394c6026;
    --4DkvNQ: #3d8bff;
    --xwa5zw: #394c6026;
    --2yga1g: #40576d12;
    --0ypBAQ: #35475a33;
    --P1hAvA: #24313d66;
    --1z_vxQ: #24313d66
}

.dark {
    --Kd3K9A: #8b3dff;
    --DVEAGQ: #7630d7;
    --V0s6Og: #612dae;
    --PqRKXQ: #fff;
    --R-jrhg: #ffffff00;
    --GXtk9g: #ffffff12;
    --xGXQgA: #ffffff26;
    --oAdupw: #fff;
    --8-4niA: #ffffff33;
    --wd-tZA: #ffffff00;
    --ntzWpQ: #ffffff12;
    --BorQ6g: #ffffff26;
    --O8dBuQ: #fff;
    --EvA8JQ: #11171d99;
    --gIrJLw: #0e1318b2;
    --XxI4hg: #0d1216db;
    --SvgSpA: #11171d99;
    --N8Oz5g: #fff;
    --4zRigw: #ffffffb2;
    --wv7owA: #db142c;
    --m9I-bA: #b61629;
    --Hxdoag: #911826;
    --pxBf3A: #fff;
    --1sn2Sg: #a370fc4d;
    --4HnQxA: #a370fc4d;
    --NRjSsw: #a370fc33;
    --GviWcg: #fff;
    --kl47TA: #a370fc;
    --gFgXSg: #ffffff12;
    --wBWOJg: #ffffff80;
    --BVrlVA: #ffffff26;
    --KwfPsg: #ffffff00;
    --p5yS_g: #ffffff80;
    --jz0LSw: #008009;
    --CJur3Q: #fff;
    --UfNqTg: #16461a;
    --QcueGQ: #fff;
    --bdtRFA: #1a62ff;
    --YrdGEw: #fff;
    --_bpjsw: #1d3b7c;
    --x3uTOw: #fff;
    --Am6Phw: #ad5a00;
    --X8oIbA: #fff;
    --G_qVww: #563715;
    --HfWZ1A: #fff;
    --43wRQw: #db142c;
    --9luNoA: #fff;
    --qKGzFw: #721d27;
    --CMMUiA: #fff;
    --RzZG4Q: #8b3dff;
    --M8YsdQ: #fff;
    --xc412Q: #4a2e7e;
    --XZIM8Q: #fff;
    --6Hmmng: #11171d99;
    --SxhHZg: #fff;
    --3ifkTA: #0e1318;
    --W1_3nw: #ffffff12;
    --igdHlg: #ffffff33;
    --IzK8tQ: #ffffff80;
    --_kLulA: #1c273080;
    --uHakiw: #a370fc;
    --TCEPKw: #ffffff26;
    --BhjlKg: #fd4958;
    --j6I-wg: #8b3dff;
    --I7Yc2g: #7630d7;
    --Mm01yw: #612dae;
    --4sJsqA: #ffffff26;
    --hBXVcA: #fff;
    --xcCO9w: #ffffff80;
    --WcghmA: #a370fc;
    --ezSU3w: #fff;
    --ooFCBA: #47494d;
    --8jnd6g: #a370fc;
    ---2QwGw: #8b3dff;
    --KgLrHA: #a370fc;
    --jDAtXQ: #ffffff80;
    --FOH6ww: #fd4958;
    --jyDisg: #db142c;
    --QclmLg: #fd4958;
    --VcZbvQ: #ffffffe5;
    --UpESEg: #ffffffcc;
    --PRQgyw: #ffffffb2;
    --TJtBjA: #ffffff80;
    --vCqPYw: #36a138;
    --NRkSiw: #fd4958;
    --gdRMVA: #3d8bff;
    --cVPmKw: #d17600;
    --enMi_w: #ffffff26;
    --4DkvNQ: #3d8bff;
    --xwa5zw: #ffffff26;
    --2yga1g: #ffffff12;
    --0ypBAQ: #ffffff33;
    --P1hAvA: #ffffff66;
    --1z_vxQ: #24313d66
}

.light {
    --iBIYpw: #f0f1f5;
    --Ypt7xQ: #fff;
    --LIE6Cw: #fff;
    --Ps9yUA: #fff;
    --uU7oTw: 0px 0px 0px 0.5px #40576d12, 0px 1px 2px 0px #182c5923, 0px 2px 4px 0px #182c5923;
    --galhog: 0px 0px 0px 0.5px #40576d12, 0px 2px 4px 0px #182c5923, 0px 6px 12px 0px #182c5912;
    --JF44pw: 0px 0px 0px 0.5px #40576d12, 0px 8px 16px 0px #182c5923, 0px 24px 24px 0px #182c5912
}

.dark {
    --iBIYpw: #0e1318;
    --Ypt7xQ: #18191b;
    --LIE6Cw: #202122;
    --Ps9yUA: #27282a;
    --uU7oTw: 0px 0.5px 0px 0px inset #ffffff12, 0px 0px 0px 0.5px inset #ffffff12, 0px 1px 2px 0px #0000004d, 0px 2px 4px 0px #0000004d;
    --galhog: 0px 0.5px 0px 0px inset #ffffff12, 0px 0px 0px 0.5px inset #ffffff12, 0px 2px 4px 0px #0000004d, 0px 4px 8px 0px #00000033;
    --JF44pw: 0px 0.5px 0px 0px inset #ffffff12, 0px 0px 0px 0.5px inset #ffffff12, 0px 6px 12px 0px #0000004d, 0px 24px 24px 0px #00000033
}

.light {
    --wlsoXA: 0px 0px 0px 1px rgba(64, 87, 109, .04), 0px 6px 20px -4px rgba(64, 87, 109, .3);
    --ej6pBg: 0px 0px 0px 1px rgba(64, 87, 109, .04), 0px 12px 40px -8px rgba(64, 87, 109, .3);
    --3LGewA: 0px 0px 0px 1px rgba(64, 87, 109, .04), 0px 2px 4px -1px rgba(64, 87, 109, .3)
}

.dark {
    --wlsoXA: 0px 0px 0px 1px #3b3c3d, 0px 6px 20px -4px rgba(0, 0, 0, .45);
    --ej6pBg: 0px 0px 0px 1px #3b3c3d, 0px 12px 40px -8px rgba(0, 0, 0, .45);
    --3LGewA: 0px 0px 0px 1px #3b3c3d, 0px 2px 4px -1px rgba(0, 0, 0, .45)
}

@font-face {
    font-display: swap;
    font-family: Canva Sans;
    font-style: normal;
    font-weight: 400 700;
    src: url(images/a9b8e7902ec1ab885d382156f33738e5.woff2) format("woff2"), url(images/013277426f0d555d96c7a75503df5754.woff) format("woff");
    unicode-range: u+00b1-00b3, u+00b9, u+00bc-00be, u+0394, u+03a9, u+03bc, u+03c0, u+2044, u+2070, u+2074-2089, u+2126, u+212e, u+2153-2154, u+215b-215e, u+2202, u+2206, u+220f, u+2211-2212, u+2215, u+2219, u+221a, u+221e, u+222b, u+2248, u+2260, u+2264-2265, u+25ca
}

@font-face {
    font-display: swap;
    font-family: Canva Sans;
    font-style: normal;
    font-weight: 400 700;
    src: url(images/d97a6ffa507b670a5b1664f98fc1183d.woff2) format("woff2"), url(images/1de7434d86166b0614ff3d61cda11a54.woff) format("woff");
    unicode-range: u+00a1, u+00aa-00ab, u+00af, u+00b8, u+00ba-00bb, u+00bf, u+00c0-00d6, u+00d8-00f6, u+00f8-0148, u+014a-017e, u+0192, u+01b5-01b6, u+01fc-01fd, u+0218-021b, u+0237, u+02c6-02c7, u+02c9, u+02d8-02dd, u+1e80-1e85, u+1e9e, u+1ef2-1ef3, u+2030, u+2039-203a, u+20ac, u+20ba, u+2113
}

@font-face {
    font-display: swap;
    font-family: Canva Sans;
    font-style: normal;
    font-weight: 400 700;
    src: url(images/cff149ee1e9d2be50ac77bcd86769d05.woff2) format("woff2"), url(images/f93a5165fac252ecfd593929c4e6146f.woff) format("woff");
    unicode-range: u+0020-007e, u+00a0, u+00a2-00a9, u+00ac-00ae, u+00b0, u+00b4-00b7, u+00d7, u+00f7, u+0300-0304, u+0306-0308, u+030a-030c, u+0312, u+0326-0328, u+2013-2014, u+2018-201a, u+201c-201e, u+2020-2022, u+2026, u+2117, u+2120, u+2122, u+2190-2199, u+fb01-fb02, u+feff, u+fffc-fffd
}

@font-face {
    font-display: swap;
    font-family: Noto Sans Variable;
    font-style: normal;
    font-weight: 125 950;
    src: url(images/621675e6be83f675d33562d2ff7a0f63.woff2) format("woff2");
    unicode-range: u+06??
}

@font-face {
    font-display: swap;
    font-family: Noto Sans Variable;
    font-style: normal;
    font-weight: 125 950;
    src: url(images/762fe37b99d49707e783d6281412d12f.woff2) format("woff2");
    unicode-range: u+0590-05ff
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/d83221ee6a6841b17a754f68b6c5a3de.woff2) format("woff2");
    unicode-range: u+0900-097f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: url(images/e237b20d624e9275cdc02a523ab7f983.woff2) format("woff2");
    unicode-range: u+0900-097f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(images/3b5447850810ff964de17bcd37e03d5a.woff2) format("woff2");
    unicode-range: u+0900-097f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/a13025bc22c0d623507f155005c54563.woff2) format("woff2"), url(images/ad480883f297c3606af00979ee4c4483.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: url(images/477aad26d9a5a64609483931aa0a7a05.woff2) format("woff2"), url(images/0e2be7bf67e32755fd73a605a2afd13b.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(images/85b2d625d97d50571765987bbac33850.woff2) format("woff2"), url(images/3f03afd80eaf13ee58a7d0945b7d0963.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/02bba2de1b5f7fc3b564b21521e774d0.woff2) format("woff2"), url(images/163124370f3e2ded710887a156ab3fa3.woff) format("woff");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: url(images/0b41617d3a05bbbe23065ec719e26fd1.woff2) format("woff2"), url(images/650cef2d886ef4ca5c18d3c107546daf.woff) format("woff");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(images/d4b0974727cae80b9c6d087e56a9a4e4.woff2) format("woff2"), url(images/771cbf29ddc3145dda326afee4b10fb8.woff) format("woff");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/6c9b9f4b28322c7473667e0fc1690675.woff2) format("woff2"), url(images/79359a454d1de78942f3c2c687fc67ea.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: url(images/a8f52f1cd47135bfc86b1f313868708d.woff2) format("woff2"), url(images/e3e13973dcf74ace522a4b8ef447a7de.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(images/ca4237378da57e1e318978281e7fee60.woff2) format("woff2"), url(images/d7669ff2d0106ad99a7a55c4d540478c.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/d56fc13fe0dc1327dceed816b07dbec3.woff2) format("woff2"), url(images/311ec631b3b3a7f88c724351af8bcef4.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: url(images/c9972caeca3358fa2841a115105a8544.woff2) format("woff2"), url(images/c3a91206711602c9b5f54e9514244e64.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(images/dafb7fee1db6b7ae9b1184239b11acf5.woff2) format("woff2"), url(images/d6cbb5c42a1149e38e1fb7a238032bc8.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/964b01a520402dcf8405de90289c35f4.woff2) format("woff2"), url(images/4badd42f0e1cdba66ffbd5cc91aa4365.woff) format("woff");
    unicode-range: u+017f, u+01f0, u+01fa-01fb, u+01fe-01ff, u+1e00-1e01, u+1e3e-1e3f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    src: url(images/58cf708f2cc4d2b3bbf7e6add25f5c20.woff2) format("woff2"), url(images/4f9f09e9c9bc053cc21f7cf7f5590904.woff) format("woff");
    unicode-range: u+017f, u+01f0, u+01fa-01fb, u+01fe-01ff, u+1e00-1e01, u+1e3e-1e3f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(images/4bdcf0ce1296b448409c024e57fdcdb9.woff2) format("woff2"), url(images/005dabb12cdb5c5deabd1782c3ff196d.woff) format("woff");
    unicode-range: u+017f, u+01f0, u+01fa-01fb, u+01fe-01ff, u+1e00-1e01, u+1e3e-1e3f
}

@font-face {
    font-display: swap;
    font-family: Noto Sans Vietnamese;
    font-style: normal;
    font-weight: 400;
    src: url(images/f4113bb9d3def37ca7f5c7cd2341ec33.woff2) format("woff2"), url(images/614a39a4813512a63e905b12dc5f41ba.woff) format("woff");
    unicode-range: u+0020-005f, u+0061-007a, u+007c, u+00a0, u+00a7, u+00a9, u+00c0-00c3, u+00c8-00ca, u+00cc-00cd, u+00d2-00d5, u+00d9-00da, u+00dd, u+00e0-00e3, u+00e8-00ea, u+00ec-00ed, u+00f2-00f5, u+00f9-00fa, u+00fd, u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0303, u+0306, u+0309, u+031b, u+0323, u+1ea0-1ef9, u+2010-2011, u+2013-2014, u+2018-2019, u+201c-201d, u+2020-2021, u+2026, u+2030, u+20ab
}

@font-face {
    font-display: swap;
    font-family: Noto Sans Vietnamese;
    font-style: normal;
    font-weight: 600;
    src: url(images/5989cf357de7427311e30576891372df.woff2) format("woff2"), url(images/b3571e313b47ed988fc8429322af7677.woff) format("woff");
    unicode-range: u+0020-005f, u+0061-007a, u+007c, u+00a0, u+00a7, u+00a9, u+00c0-00c3, u+00c8-00ca, u+00cc-00cd, u+00d2-00d5, u+00d9-00da, u+00dd, u+00e0-00e3, u+00e8-00ea, u+00ec-00ed, u+00f2-00f5, u+00f9-00fa, u+00fd, u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0303, u+0306, u+0309, u+031b, u+0323, u+1ea0-1ef9, u+2010-2011, u+2013-2014, u+2018-2019, u+201c-201d, u+2020-2021, u+2026, u+2030, u+20ab
}

@font-face {
    font-display: swap;
    font-family: Noto Sans Vietnamese;
    font-style: normal;
    font-weight: 700;
    src: url(images/5d050a324d95a6a18dae93e08c01bd6b.woff2) format("woff2"), url(images/08f3a04653878f9b2369ec3c327d7c46.woff) format("woff");
    unicode-range: u+0020-005f, u+0061-007a, u+007c, u+00a0, u+00a7, u+00a9, u+00c0-00c3, u+00c8-00ca, u+00cc-00cd, u+00d2-00d5, u+00d9-00da, u+00dd, u+00e0-00e3, u+00e8-00ea, u+00ec-00ed, u+00f2-00f5, u+00f9-00fa, u+00fd, u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0303, u+0306, u+0309, u+031b, u+0323, u+1ea0-1ef9, u+2010-2011, u+2013-2014, u+2018-2019, u+201c-201d, u+2020-2021, u+2026, u+2030, u+20ab
}

.JYIidw {
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-variation-settings: "opsz" 0;
    font-weight: 400;
    margin: 0;
    overflow-wrap: break-word
}

.JYIidw {
    font-size: calc(var(----lgQg, .1rem)*8/8*12);
    line-height: calc(var(----lgQg, .1rem)*8/8*20)
}

.aZskFA {
    text-align: start
}

.T5LNnw {
    color: inherit
}

._682gpw {
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent
}

.DF_utQ {
    cursor: auto;
    outline: none;
    position: absolute
}

.DF_utQ:hover {
    cursor: unset
}

._lzXBg {
    overflow: hidden
}

._0xkaeQ {
    pointer-events: auto
}

.light {
    --Xj4qXA: 0.07;
    --CAzrpw: 0.025
}

.dark {
    --Xj4qXA: 0.15;
    --CAzrpw: 0.10
}

.dkWypw {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex
}

.dkWypw:before {
    content: "\00200B";
    line-height: 1;
    width: 0
}

.dkWypw>svg {
    display: block;
    height: 100%;
    width: 100%
}

.NA_Img {
    height: calc(var(----lgQg, .1rem)*8*3);
    width: calc(var(----lgQg, .1rem)*8*3)
}

.light {
    --Wc1zKQ: rgba(64, 87, 109, .07)
}

.dark {
    --Wc1zKQ: hsla(0, 0%, 100%, .15)
}

.FJA3UA {
    display: contents
}

.Xj0kcw:focus-visible {
    outline-style: auto
}

html {
    --safe-area-inset-top: 0px;
    --safe-area-inset-bottom: 0px;
    --safe-area-inset-left: 0px;
    --safe-area-inset-right: 0px
}

@supports (height:env(safe-area-inset-top)) {
    html {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        --safe-area-inset-left: env(safe-area-inset-left);
        --safe-area-inset-right: env(safe-area-inset-right)
    }
}

.dark,
.light {
    --mZd2dw: #00c4cc;
    --7dKt9A: #7d2ae8;
    --PfAhjQ: rgba(13, 18, 22, 0);
    --qoG_LA: rgba(36, 49, 61, .4);
    --WIvwOg: rgba(43, 59, 74, .3);
    --mu_GGA: hsla(0, 0%, 100%, .7);
    --djTVRw: #fff
}

.bFnJ2A {
    left: 0;
    overflow: hidden;
    top: 0
}

._7KaXww,
.bFnJ2A {
    position: absolute
}

._7KaXww {
    height: 0;
    width: 0
}

.qhHTGg {
    pointer-events: none;
    position: relative
}

._4c2rDg {
    height: 100%;
    width: 100%
}

.GxUsfw {
    transition: transform .3s ease
}

.a26Xuw {
    height: 100%;
    width: 100%
}

.a26Xuw ::selection {
    -webkit-user-select: none;
    user-select: none
}

.fbzKiw {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.PcHy7w {
    height: 100%;
    width: 100%
}

.Izwocg {
    position: relative
}

.uk_25A {
    height: 100%;
    width: 100%
}

.Ty61NA {
    transition: transform .3s ease
}

._7_i_XA {
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%
}

._7_i_XA {
    object-fit: fill
}

.Dt3KRw {
    -webkit-touch-callout: none;
    position: absolute
}

.Dt3KRw {
    display: block;
    height: 100%;
    width: 100%
}

.dMHlHA {
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%
}

._mXnjA {
    position: relative
}

._6t4CHA {
    pointer-events: auto
}

._6t4CHA {
    bottom: 0;
    left: 0;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0
}

.twbtjQ {
    direction: ltr;
    position: relative
}

.GDnEHQ {
    overflow: hidden
}

.o2Yl2g {
    transform-origin: 0 0
}

.QhExXw {
    bottom: 0;
    direction: ltr;
    left: 0;
    pointer-events: none;
    position: absolute
}

.QhExXw.pKfnlA {
    transform: translateZ(0)
}

.onhyOQ {
    border-radius: inherit;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative
}

@supports (top:100svh) {}

@supports (bottom:max(0px, 0px)) {}

@supports (bottom:max(0px, 0px)) {}

@supports (bottom:max(0px, 0px)) {}

.V7MmMA {
    transform-origin: 0 0
}

.Fe_H_Q,
.V7MmMA {
    height: 100%;
    width: 100%
}

.Fe_H_Q {
    display: block;
    min-height: 1px;
    min-width: 1px;
    overflow: visible;
    position: absolute
}

._0yZ6Qg {
    text-rendering: geometricPrecision
}

.aF9o6Q {
    height: 100%
}

.Zp7NQw {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

@font-face {
    font-display: block;
    font-family: calibrate;
    src: url(images/b46630e470f4040eba7033cf2435edce.woff) format("woff")
}

.AdBbhQ {
    --cAuMqQ: 16px;
    --XTwg7g: 0;
    font-feature-settings: "liga" var(--l9Z1Mw, off), "clig" var(--lqQ0Ow, off), "calt" var(--FUF8JQ, off);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    color: #000;
    contain: style;
    direction: ltr;
    font-family: unset;
    font-kerning: none;
    font-style: normal;
    font-synthesis: none;
    font-weight: 400;
    height: auto;
    letter-spacing: 0;
    line-height: 1.4;
    overflow: visible;
    overflow-wrap: break-word;
    padding: 0;
    position: relative;
    -moz-tab-size: 4;
    tab-size: 4;
    text-align: left;
    text-transform: none;
    white-space: normal;
    word-break: normal
}

._7rUwsA {
    pointer-events: auto;
    -webkit-user-select: text;
    user-select: text
}

_:future {
    white-space: pre-wrap
}

:root .cgHgbA .L7Ipcg:last-child,
_:future {
    white-space: pre
}

.rLWGlw,
.rLWGlw .L7Ipcg {
    text-wrap: nowrap;
    overflow-wrap: normal
}

.L7Ipcg {
    white-space: pre-wrap
}

.L_cebA,
.cgHgbA {
    font-size: var(--cAuMqQ);
    margin: 0;
    position: relative
}

.L_cebA {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0
}

.hGbcYA .cgHgbA {
    top: calc(var(--1Zy1_A, 0)*1em)
}

.hGbcYA .cgHgbA {
    margin-top: calc(var(--pY_8zA)*1em)
}

.hGbcYA .PanoWQ {
    margin-top: 0
}

.cgHgbA.Xp24Nw.nxe3IQ {
    text-align: left
}

.cgHgbA.Xp24Nw.pYZEjA {
    text-align: center
}

.hGbcYA .cgHgbA.Xp24Nw {
    margin-left: calc(var(--oJepFA)*1em)
}

.AdBbhQ .yL4mFA {
    list-style-type: none;
    margin: 0;
    padding: 0
}

._bsDhw {
    display: list-item;
    padding: 0
}

.cgHgbA:not(._bsDhw) {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
}

@supports (font-size:min(1px, 2px)) {}

@media (max-width:599px) {
    @supports not (font-size:min(1px, 2px)) {}
}

/*!* Checked lists *!*/
@supports (font-size:min(1px, 2px)) {}

@media (max-width:599px) {
    @supports not (font-size:min(1px, 2px)) {}
}

.a5dsSw:not(:focus-within) ::selection {
    background: transparent
}

.Pr6LEA {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.hWv4NA {
    position: relative;
    transform-origin: top left
}

.Xax3mQ {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/e755c8eab4133359c241132063a279d0.woff2) format("woff2"), url(images/89ba4e29dc7a63cd15959a5bb068bb0e.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/0c4fa4c622644d97f38d201cba1d30f5.woff2) format("woff2"), url(images/89ba4e29dc7a63cd15959a5bb068bb0e.woff) format("woff");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/a47b96672d775073beaf93b7e7ffff54.woff2) format("woff2"), url(images/89ba4e29dc7a63cd15959a5bb068bb0e.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/7aed216c4e61d12ee639b0b758037c5d.woff2) format("woff2"), url(images/89ba4e29dc7a63cd15959a5bb068bb0e.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/eafec10d3f23f994fb6dc59545035460.woff2) format("woff2"), url(images/89ba4e29dc7a63cd15959a5bb068bb0e.woff) format("woff");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/6923b1967484e2b12e1016fb33061791.woff2) format("woff2"), url(images/89ba4e29dc7a63cd15959a5bb068bb0e.woff) format("woff");
    unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(images/ff9d619b59f5cb3529b100448f398ac5.woff2) format("woff2"), url(images/89ba4e29dc7a63cd15959a5bb068bb0e.woff) format("woff");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

._3NW_OA {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 24px;
    padding: 0
}

.MWNIKw {
    outline: none
}

.lM4cjQ {
    color: var(--VcZbvQ)
}

._3NW_OA:disabled .lM4cjQ {
    color: var(--PRQgyw)
}

._3jDRow {
    align-items: center;
    display: flex;
    opacity: 0;
    position: relative
}

.QnPmDw {
    flex-wrap: wrap;
    justify-content: space-between
}

.q4QWTw {
    align-items: center;
    display: flex;
    margin-left: auto
}

.e_HzGw {
    transition: opacity .25s
}

._2Ouzng {
    height: 52px;
    position: relative;
    width: 100%
}

.s0wW_g {
    order: 3
}

.QCi37g {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    box-sizing: border-box;
    direction: ltr;
    display: block;
    height: 100%;
    margin: 0;
    padding: 24px 8px;
    width: 100%
}

.BDTDKw {
    transition: .2s
}

.QCi37g:hover {
    cursor: pointer
}

.QCi37g:active {
    cursor: grabbing
}

.bbGOcQ:focus {
    outline: none
}

.QCi37g::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-clip: content-box;
    background-color: var(--6u-yJQ);
    border: 14px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    filter: drop-shadow(0 0 1px rgba(28, 39, 48, .5));
    height: 40px;
    opacity: 1;
    width: 40px
}

.BDTDKw::-webkit-slider-thumb {
    -webkit-transition: transform .2s;
    transition: transform .2s
}

.QCi37g:active::-webkit-slider-thumb {
    transform: scale(1.25)
}

.QCi37g::-moz-focus-outer {
    border: none
}

.QCi37g::-moz-range-thumb {
    appearance: none;
    background-clip: content-box;
    background-color: var(--6u-yJQ);
    border: 14px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    filter: drop-shadow(0 0 1px rgba(28, 39, 48, .5));
    height: 40px;
    opacity: 1;
    width: 40px
}

.BDTDKw::-moz-range-thumb {
    -moz-transition: transform .2s;
    transition: transform .2s
}

.QCi37g:active::-moz-range-thumb {
    transform: scale(1.25)
}

.fHHmQw {
    opacity: 0;
    pointer-events: none;
    position: relative
}

.VclgIw {
    background-color: #0d1216;
    border-radius: 4px;
    bottom: 24px;
    color: #fff;
    left: 0;
    padding: 6px 10px;
    position: absolute;
    transform: translateX(-50%)
}

.VclgIw:before {
    background-color: inherit;
    border-radius: 0 0 3px 0;
    bottom: -4px;
    content: "";
    height: 8px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) rotate(45deg);
    width: 8px
}

.DYvFsA,
.DuLOcg,
.k9236g {
    height: 100%;
    position: absolute;
    width: 100%
}

.DuLOcg,
.k9236g {
    box-sizing: border-box
}

.k9236g {
    padding: 24px 28px
}

.LK9gBQ {
    height: 4px;
    position: relative
}

._6UfzEQ {
    background-color: var(--6u-yJQ);
    box-sizing: border-box;
    left: 4px;
    right: 4px;
    transform-origin: left
}

.Idr01w,
._6UfzEQ {
    height: inherit;
    position: absolute
}

.Idr01w {
    background-color: inherit;
    top: 0;
    width: 4px
}

.jz_KVw {
    border-radius: 100% 0 0 100%;
    right: 100%;
    transform-origin: right
}

.WcClCQ {
    border-radius: 0 100% 100% 0;
    left: 100%;
    transform-origin: left
}

.mbNwCw {
    left: calc(100% - 1px)
}

._5MYBAA,
.i6797g {
    height: 100%;
    position: absolute;
    width: 100%
}

.i6797g {
    box-sizing: border-box;
    padding: 24px
}

.Z5sRUw {
    position: relative
}

.light {
    ---sugNw: #f6f7f8
}

.dark {
    ---sugNw: #252627
}

.light {
    --iXacOw: #f0f1f5;
    --BKx0jQ: rgba(165, 112, 255, .2)
}

.dark {
    --iXacOw: #898d90;
    --BKx0jQ: rgba(165, 112, 255, .4)
}

.I4sCDQ {
    background-image: linear-gradient(transparent, var(--KtXlRg));
    bottom: 0;
    height: 80px;
    left: 0;
    max-height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    transform-origin: bottom;
    transition: transform .25s
}

.n1_ZIg {
    height: 120px
}

.v4nAuw {
    transition: opacity .25s, transform .5s
}

._97009w {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%
}

.KGHx9g {
    opacity: 0
}

.qGs8mQ {
    background-color: var(--KtXlRg);
    border: none;
    border-radius: 100%;
    color: var(--6u-yJQ);
    cursor: pointer;
    display: block;
    height: 48px;
    opacity: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    width: 48px
}

.qGs8mQ:hover {
    background-color: var(--QADODw);
    transform: scale(1.05)
}

.qGs8mQ:active {
    background-color: var(--kTBxcw)
}

.BDjDQQ {
    transition: opacity .25s ease-out, background-color .2s ease-out, transform .2s ease-out
}

.Lqh_3w {
    cursor: auto;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.foMqyw,
.thT2yw {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    top: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.Qy939g,
.foMqyw,
.thT2yw {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0
}

.OLvpgw {
    position: relative;
    transform: translateY(100%)
}

.OLvpgw.PZ3xOQ {
    transition: transform .25s
}

.KTdHOA {
    opacity: 0
}

.KTdHOA.PZ3xOQ {
    transition: opacity 83.33333ms
}

.Bu_D9Q {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

._0d0kIw {
    color: var(--VcZbvQ);
    font-size: 0;
    opacity: 0
}

.uDupQw {
    transition-duration: .25s
}

._4UrDqA {
    height: 100%;
    width: 100%
}

.NI12hw {
    pointer-events: none
}

.FLDMzw {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none
}

.FLDMzw.Zmd7Ig {
    display: block
}

.BVJWuA {
    object-fit: fill
}

.jXCxjw {
    height: 100%;
    width: 100%
}

.light {
    --c0UyoQ: 0 0 0 1px rgba(64, 87, 109, .07), 0 0 8px 0 rgba(57, 76, 96, .15);
    --7mVY-Q: 0 0 0 1px rgba(64, 87, 109, .07), 0 0 8px 0 rgba(57, 76, 96, .15);
    --ozux8A: 0 0 0 1px rgba(64, 87, 109, .07), 0 0 8px 0 rgba(57, 76, 96, .15);
    --aUkm1A: 0 0 0 1px rgba(64, 87, 109, .07), 0 0 8px 0 rgba(57, 76, 96, .15)
}

.dark {
    --c0UyoQ: 0 0 20px 20px var(--Tp54Vw);
    --7mVY-Q: 0 0 20px 20px var(--dVucJw);
    --ozux8A: 0 0 20px 20px var(--C-q6Ig);
    --aUkm1A: 0 0 20px 20px var(--4RaSjg)
}

._8jGYJw {
    background: #fff;
    contain: strict;
    overflow: hidden;
    position: relative;
    z-index: 0
}

.fMSICA {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.h517IA {
    display: unset
}

._5yhCRQ {
    height: 100%;
    width: 100%
}

.l3vAqg {
    height: 100%
}

._65lpxA {
    height: calc(100% - 48px)
}

.rGeu6w {
    flex: 1
}

.rGeu6w~.rGeu6w {
    margin-top: -1px
}

.ZRRuDw {
    height: 100%;
    overflow: hidden scroll;
    position: relative;
    width: 100%
}

.KYQZFA {
    overflow: hidden
}

.KYQZFA {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%
}

._4KoDHA {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%
}

.light {
    --VsFRFg: rgba(64, 87, 109, .04)
}

.dark {
    --VsFRFg: #3b3c3d
}

@supports ((-webkit-mask:none) or (mask:none)) {}

.light {
    --R3SUow: rgba(28, 39, 48, .5)
}

.dark {
    --R3SUow: hsla(0, 0%, 100%, .5)
}

.rZySiw.hbeYxA:not(.WEJeTw):hover .UufAxw:not(:active)+.Q5j_pg:not(._1Gr7oQ, .BZUMgg) {
    box-shadow: inset 0 0 0 1px var(--9_Lxmw)
}

.rZySiw.hbeYxA:not(.WEJeTw):hover .UufAxw:not(:active)+.Q5j_pg:not(._1Gr7oQ, .BZUMgg)>.AzLxTA,
.rZySiw.hbeYxA:not(.WEJeTw):hover .UufAxw:not(:active)+.Q5j_pg:not(._1Gr7oQ, .BZUMgg)>.DPVGEQ {
    color: var(--nwNs8w);
    opacity: 1
}

.rZySiw.hbeYxA:not(.WEJeTw):hover .UufAxw:not(:active)+.Q5j_pg._8LCIjg.BZUMgg,
.rZySiw.hbeYxA:not(.WEJeTw):hover .UufAxw:not(:active)+.Q5j_pg._8LCIjg._1Gr7oQ {
    box-shadow: inset 0 0 0 calc(var(----lgQg, .1rem)*8) var(--M5_pvA)
}

.rZySiw.hbeYxA:not(.WEJeTw):hover .UufAxw:not(:active)+.Q5j_pg.EhOJ2A._8LCIjg.BZUMgg,
.rZySiw.hbeYxA:not(.WEJeTw):hover .UufAxw:not(:active)+.Q5j_pg.EhOJ2A._8LCIjg._1Gr7oQ {
    box-shadow: inset 0 0 0 calc(var(----lgQg, .1rem)*8*2) var(--M5_pvA)
}

#root,
body,
html {
    height: 100%
}

body {
    overflow-y: auto;
    touch-action: manipulation
}

html {
    font-size: 62.5%
}

#root,
body,
html {
    margin: 0;
    padding: 0;
    width: 100%
}

.EHoceA #root,
.EHoceA body,
html.EHoceA {
    -webkit-user-select: none;
    user-select: none
}

#root {
    position: relative;
    z-index: 0
}

body {
    -webkit-overflow-scrolling: touch
}

.yIDCqA {
    height: 100%;
    position: relative;
    width: 100%
}

.yIDCqA,
[tabindex],
button {
    -webkit-tap-highlight-color: transparent
}

._8OlyIw {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden
}

@font-face {
    font-display: swap;
    font-family: Canva Sans;
    font-style: normal;
    font-weight: 400 700;
    src: url(images/a9b8e7902ec1ab885d382156f33738e5.woff2) format("woff2"), url(images/013277426f0d555d96c7a75503df5754.woff) format("woff");
    unicode-range: u+00b1-00b3, u+00b9, u+00bc-00be, u+0394, u+03a9, u+03bc, u+03c0, u+2044, u+2070, u+2074-2089, u+2126, u+212e, u+2153-2154, u+215b-215e, u+2202, u+2206, u+220f, u+2211-2212, u+2215, u+2219, u+221a, u+221e, u+222b, u+2248, u+2260, u+2264-2265, u+25ca
}

@font-face {
    font-display: swap;
    font-family: Canva Sans;
    font-style: normal;
    font-weight: 400 700;
    src: url(images/d97a6ffa507b670a5b1664f98fc1183d.woff2) format("woff2"), url(images/1de7434d86166b0614ff3d61cda11a54.woff) format("woff");
    unicode-range: u+00a1, u+00aa-00ab, u+00af, u+00b8, u+00ba-00bb, u+00bf, u+00c0-00d6, u+00d8-00f6, u+00f8-0148, u+014a-017e, u+0192, u+01b5-01b6, u+01fc-01fd, u+0218-021b, u+0237, u+02c6-02c7, u+02c9, u+02d8-02dd, u+1e80-1e85, u+1e9e, u+1ef2-1ef3, u+2030, u+2039-203a, u+20ac, u+20ba, u+2113
}

@font-face {
    font-display: swap;
    font-family: Canva Sans;
    font-style: normal;
    font-weight: 400 700;
    src: url(images/cff149ee1e9d2be50ac77bcd86769d05.woff2) format("woff2"), url(images/f93a5165fac252ecfd593929c4e6146f.woff) format("woff");
    unicode-range: u+0020-007e, u+00a0, u+00a2-00a9, u+00ac-00ae, u+00b0, u+00b4-00b7, u+00d7, u+00f7, u+0300-0304, u+0306-0308, u+030a-030c, u+0312, u+0326-0328, u+2013-2014, u+2018-201a, u+201c-201e, u+2020-2022, u+2026, u+2117, u+2120, u+2122, u+2190-2199, u+fb01-fb02, u+feff, u+fffc-fffd
}